*.pyc
*.conf
src/visuals/ui/generated/*
data
docs/build/*
docs/source/api
docs/source/_static
docs/source/_generated
*.dot
dist/*
build/*
lsas.spec
lsas_build
config
data
*.png
public
scrim_tests/*
meta/*